/* You can add global styles to this file, and also import other style files */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #fff;
  background-color: #ff9999;
}


app-chatroom {
  display: flex;
  flex-direction: column;
}

app-chat-form {
  width: 100%;
  display: flex;
  white-space: nowrap;
  overflow: none;
}

.message {
  display: block;
  height: auto;
}
